<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tic Tac Toe</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="bower_components/bootswatch-dist/css/bootstrap.min.css">

		<style>
			.play-button {
				font-size: 54px;
				font-weight: bold;
				height: 133px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="text-center">Tic Tac Toe</h1>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<div id="game-area" v-cloak>
						<button class="btn btn-primary btn-block" @click="resetGame()">RESET</button>
						<br>
						<div v-for="(i, row) in gameData" class="row">
							<div v-for="(j, col) in row" track-by="$index" class="col-xs-4">
								<button
									class="btn btn-default btn-block play-button"
									data-x="{{ i }}"
									data-y="{{ j }}"
									@mouseenter="playButtonMouseIn(i, j)"
									@mouseleave="playButtonMouseOut(i, j)"
									@click="play(i, j)">
									{{ gameData[i][j] }}
								</button><br>
							</div>
						</div>
					<!-- <pre>{{ $data | json }}</pre> -->
					</div>
				</div>
			</div>
		</div>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootswatch-dist/js/bootstrap.min.js"></script>
		<script src="bower_components/vue/dist/vue.min.js"></script>
		<script src="bower_components/vue-resource/dist/vue-resource.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>